<div class='bmw-card'>
  <div class='bmw-card-header' style="text-align: left;">
    {{pageTitle}}
  </div>
  <div class='bmw-card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>

              <!-- //pending -->
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Member</th>
            <th>ProjectCode</th>
            <th>Designation</th>
            <th>Team</th>

            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of filtereduserslist'>
            <td>

              <!-- pending -->
              <img *ngIf='showImage' [src]='user.imageUrl' [title]='user.userName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/UserDetails']">
                <!-- <a [routerLink]="['/UserDetails', user.userId]"> -->

                {{ user.userName }}
              </a>
            </td>
            <td>{{ user.projectCode | lowercase  }}</td>
            <td>{{ user.designation }}</td>
            <td>{{ user.team }}</td>
            <td>{{ user.location }}</td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>